.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f61e1e;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-logo img {
    max-width: 150px;
    height: auto;
  }
  
  .left-menu {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .navbar-logo {
      flex-direction: column;
      text-align: center;
    }
  
    .navbar-logo img {
      max-width: 120px;
    }
  }
  